
@import "tailwindcss";

/* @tailwind utilities; */

@theme {
  /* Colors */
  --color-primary: #1173d4;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-foreground-light: #101922;
  --color-foreground-dark: #f6f7f8;
  --color-card-light: #ffffff;
  --color-card-dark: #1a2530;
  --color-input-light: #e9ecef;
  --color-input-dark: #2c3a47;

  /* Fonts */
  --font-display: 'Roboto', sans-serif;

  /* Border Radius */
  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

/* Example usage */
.bg-primary {
  background-color: var(--color-primary);
}

.text-foreground-light {
  color: var(--color-foreground-light);
}

.font-display {
  font-family: var(--font-display);
}

.rounded {
  border-radius: var(--radius-default);
}

.rounded-lg {
  border-radius: var(--radius-lg);
}

.rounded-xl {
  border-radius: var(--radius-xl);
}

.rounded-full {
  border-radius: var(--radius-full);
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87); */
  background-color: #f6f7f8;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}


